/* Cajas de optiones */
.cardContainers{
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.cardContainers .cardInventario{
    position: relative;
    width: 23%;
    background: var(--white);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
}

.cardContainers .cardInventario .titulo{
    font-weight: 700;
    font-size: 1.8em;
    margin: 3px auto;
    border: none;
    background: none;
}

/* -----------------------Tabla de detalles---------------------- */
.detalles{
    display: grid;
    min-width: 500px;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
}

.detalles table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.detalles table thead{
    font-weight: 600;
    border-bottom: 2px solid rgba(0, 0, 0);
}
.detalles table  tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.detalles table  tr td:last-child{
    text-align: end;
}

.detalles table  tr:last-child{
    border-bottom:none;
}

.detalles table tbody tr:hover{
    background: #0f5e92;
    color: #fff;
}

.description table tbody tr:hover{
    background: none;
    color: #000;
}
.description table tbody tr{
    background: none;
    color: #000;
    height: 10vh;
}
.titulo:hover{
    color: #fff;
}
.titulo{
    width: 100%;
    height: 100%;
}
.cardInventario:hover{
    background: #0f5e92;
    color: #fff;
    cursor: pointer;
}
.detalles table  tr td{
    padding: 10px;
}

.status{
    padding: 2px 4px;
    background-color: #31fa74;
    border-radius: 4px;
    font-size: 1.3em;
    font-weight: 500;
}

.C3{
    background-color: #e9e512;
}
.C2{
    background-color: #e00909;
}
/* +++++++++++++++++++++++++++++++++Agregacion++++++++++++++++++++++++++++++++++++++++++++ */

.container-form{
    display: flex;
    justify-content: center;
    margin: auto;
}
.seccion1{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 30px 10px;
}

.last{
    margin-bottom: 5px;
}
/* ---------------------------------Reponer un producto---------------------------- */
table .btn:hover{
    background: #fff;
    color: #000;
}